
/* Navbar */
nav{
    margin: 10px;
}
.navbar-brand{
    margin-left:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: black;
    vertical-align: baseline !important;
}
.navbar-brand:hover{
    color: black;
    text-decoration: 4px underline orange;

}
.nav-item{
    margin-left:20px;
    margin-right:20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: orange;
}
